/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos de layout */
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    background-color: #03dac6;
    border-radius: 4px;
}

nav a:hover {
    background-color: #018786;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus, button:focus {
    outline: none;
    border-color: #6200ea;
}

button {
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #3700b3;
}

/* Estilos específicos para cada página */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.dashboard-body {
    padding: 20px;
}

#materialList ul {
    list-style-type: none;
}

#materialList ul li {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

#materialList ul li button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#materialList ul li button:hover {
    background-color: #b30000;
}

.form-body {
    padding: 20px;
    background-color: #fafafa;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
