* {
    margin: 0;
    padding: 0;

    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.header {
    height: 300px;
    width: 100vw;

    display: flex;
    align-items: center;

    border: 1px solid;
}

.title {
    margin-left: 50px;
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;


    border: 1px solid;
}

.main p {
    height: 100px;
    width: 80%;

    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.main p a {
    text-decoration: underline;
}